.modal-overlay {
    /* fundo escuro cobrindo a tela */
    position: fixed;
    /* fica fixo na tela */
    top: 0;
    /* encosta no topo */
    left: 0;
    /* encosta na esquerda */
    width: 100%;
    /* cobre largura toda */
    height: 100%;
    /* cobre altura toda */
    display: flex;
    /* centraliza conteúdo */
    align-items: center;
    /* centraliza vertical */
    justify-content: center;
    /* centraliza horizontal */
    background: rgba(0, 0, 0, 0.6);
    /* escurece o fundo */
    padding: 20px;
    /* espaço para não colar nas bordas */
}

.modal-content {
    /* caixa branca do modal */
    width: 600px;
    /* limite de largura */
    background: rgb(255, 255, 255);
    /* fundo branco */
    border-radius: 12px;
    /* arredondamento */
    padding: 16px;
    /* espaço interno */
    position: relative;
    /* para posicionar o botão X */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    color: blue;
    font-weight: 600;

}

.modal-close {
    /* botão X */
    position: absolute;
    /* fica no canto */
    top: 10px;
    /* distância do topo */
    right: 10px;
    /* distância da direita */
    cursor: pointer;
    /* mãozinha */
    background-color: white;
}

.modal-content img {
    /* imagem dentro do modal */
    width: 60%;
    /* responsivo */
    height: auto;
    /* mantém proporção */
    border-radius: 8px;
    /* arredondamento */
}

.modal-content p {
    text-align: center;
}

.modal-content h2 {
    margin-top: 12px;
    font-size: 28px;
    text-align: center;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.input-modal-form {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid blue;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.textarea-modal-form {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid blue;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    pointer-events: auto;
    position: relative;
    z-index: 9999;
}