.content-main-cards {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 120px;
    align-items: center;
    gap: 60px;
}

.content-main-cards h1 {
    font-size: 56px;
    cursor: pointer;
    color: blue;
}

.container-cards {
    display: flex;
    gap: 100px;
}

.container-cards img {
    width: 200px;
    height: 282px;
    cursor: pointer;
    border-radius: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card h2 {
    font-size: 30px;
    cursor: pointer;
}

.btn-primary {
    background-color: blue;
    padding: 14px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn-signup-container{
    padding: 60px 0px 0px 0px;
}