.content-main-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-cards{
    display: flex;
}

.container-cards img{
width: 200px;
}

.card{
    display: flex;
    flex-direction: column;align-items: center;
}